<div class="sales-container">
    <!-- Notifications Section -->
    <div class="notifications-section">
        <mat-card>
            <mat-card-content>
                <app-stock-notifications></app-stock-notifications>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- New Sale Section -->
    <div class="stock-list">
        <mat-card>
            <mat-card-title>Stock list</mat-card-title>
            <mat-card-content>
                <app-stock-list></app-stock-list>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Today's Sales Section -->
    <div class="best-selling-stock">
        <mat-card>
            <mat-card-title>Best selling</mat-card-title>
            <mat-card-content>
                <app-best-selling-stock></app-best-selling-stock>
            </mat-card-content>
        </mat-card>
    </div>
</div>