<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Email or Username</mat-label>
                        <input matInput id="email" type="text" formControlName="email"
                            placeholder="Enter your email or username" />
                        <mat-error
                            *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
                            This field is required.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput id="password" type="password" formControlName="password"
                            placeholder="Enter your password" />
                        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            Password is required and must be at least 6 characters long.
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            </mat-card-actions>
        </mat-card>
    </form>
    <button mat-button color="primary" (click)="navigateToRegister()">Register</button>
    <!-- <router-outlet></router-outlet> -->
</div>