<mat-toolbar class="navbar">
  <!-- Logo or Application Title -->
  <a class="logo" mat-button routerLink="/dashboard">TSM PRO</a>

  <!-- Navigation Links -->
  <ul class="nav-links">
    <a mat-button routerLink="/dashboard" routerLinkActive="active-link">Home</a>
    <a mat-button routerLink="/stock" routerLinkActive="active-link" *ngIf="canManageStock" >STOCK</a>
    <!-- <a mat-button routerLink="/" routerLinkActive="active-link">Services</a> -->
  </ul>

  <!-- Filler to push the profile avatar to the right -->
  <span class="spacer"></span>

  <!-- Profile Avatar with a Menu -->
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <img class="avatar" src="https://via.placeholder.com/40" alt="Profile">
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>